[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
psycopg2-binary = "*"
jsonschema = "*"
awscli = "*"
awscli-local = "*"
pytest = "*"
pytest-mock = "*"
moto = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.11"
